
@font-face {
    font-family: 'cool';
    src: url('../fonts/DJADOEL.ttf');
}

.bg {  background: url('../img/bg1011.gif') no-repeat center center fixed; background-repeat: no-repeat;   position: absolute;  z-index: -1;  height: 100%;  width: 100%;  -webkit-background-size: cover; }
.wrapper-title { padding-bottom: 3px; text-align: center; margin-bottom: -0px; transition: all 0.5s ease; font-size: 65px; color: rgba(255, 255, 255, 0.92); text-shadow: 1px 1px 2px black, 0 0 10px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);}
.wrapper-sidetitle {height: 30px;padding-bottom:3px; text-align: center; margin-bottom: -0px; transition: all 0.5s ease; font-size: 15px; color: rgba(255, 255, 255, 0.92); text-shadow: 1px 1px 2px black, 0 0 10px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);}
.wrapper-title:hover {transition: all 0.5s ease; color: hsl(233, 100%, 58%); cursor: pointer;}
.wrapper-image {width: 50px; height: 50px; transition: all 0.5s ease;}
.wrapper-image:hover {transition: all 0.5s ease; filter: hsl(233, 100%, 58%); transform: scale(1.5); cursor: pointer;}
.wrapper-table {padding-right: 25px; user-select: none;}
.table-header {display: flex;justify-content: center;align-items: center; padding-bottom: 10px; padding-top: 10px;}



h1 {user-select: none;}
body { background-color: black; font-family: cute; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; overflow: hidden;}
footer {width: 95%; text-align: center; color: white; font-size: 20px; font-family: 'cute';}
a { color: rgba(255, 255, 255, 0.92); text-decoration: none;}
hr { border: 0; height: 1px; background: rgba(255, 255, 255, 0.92); margin: 0;}
